* @npm/cli-team

# Content
/.github/CODEOWNERS   @Marcos323232
/content/             @Marcos323232
/src/                 @Marcos323232
/static/              @Marcos323232
/CONTENT-MODEL.md     @Marcos323232

# Policies
/content/policies/    @Marcos323232
/CODE_OF_CONDUCT.md   @Marcos323232

# Licensing
/.reuse/              @Marcos323232
/LICENSES/            @Marcos323232 

/LICENSE              @Marcos323232
/LICENSE-CODE         @Marcos323232

# CLI
/content/cli/         @npm/Marcos323232 
